* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
}

/* Blue bar at the top, with thing light blue bottom border*/
.header {
    color: white;
    background-color: #0D3F75;
    border-bottom: 2px solid #93DDEF;
    padding: 1em;
}

main {
    width: 95%;
    padding: 1em;
}

/* set up the 3x3 picture grid */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* flex: 1 1 33%; */
}

.cell {
    line-height: 1.5em;
    margin-bottom: 3em;
    flex: 1 1 33%;
}

.cell img {
    width: 98%;
}

.name {
    font: bold 1.1em "Oswald";
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-third {
    color: white;
    font: 2.5em "Oswald";
    text-align: center;
    height: 275px;
    /* padding: 25% 0; */
    display: flex;
    align-items: center;
    justify-content: center;

}

/* To tint the footer images, use a linear gradient with the same start and end color.
    See the example on the 'Multiple Backgrounds' slide of the css slides */
#donate {
    background: linear-gradient(rgba(165, 166, 238, 0.7), rgba(165, 166, 238, 0.7)),
        no-repeat center/cover url("../starter_files/images/donate.jpg");
}

#volunteer {
    background: linear-gradient(rgba(165, 166, 238, 0.7), rgba(165, 166, 238, 0.7)),
        no-repeat center/cover url("../starter_files/images/volunteer.jpg");
}

#location {
    background: linear-gradient(rgba(165, 166, 238, 0.7), rgba(165, 166, 238, 0.7)),
        no-repeat center/cover url("../starter_files/images/location.png");
}


/* ============= Dog Tags ============= */
.tag {
    display: inline;
    font-size: .8em;
    font-weight: 500;
    background-color: #93DDEF;
    padding: 2px 3px;
    /* margin: 2px 2px; */
    border-radius: 10px;
    white-space: nowrap;
}

